body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
#root {
  width: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  text-align: center;
  font-size: 4em;
}
/* 
.top-level-weather-app {
  border: 2px pink solid;
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
} */
.search-bar{
  height: 40px;
  width: 40%;
  font-size: 15px;
}
/* TODO: Make the result gifs come up a little less jarringly */
@keyframes resultGIF {
  0% {opacity:0}
  100% {opacity:1}
}

img {
  margin-left:auto;
  margin-right:auto;
  padding: 30px;
  animation-name: resultGIF;
  animation-duration: 3s;
}
